<!-- Button trigger modal -->
<button type="button" class="btn btn-primary ms-2 mb-3" data-bs-toggle="modal" data-bs-target="#addCateModal">
    Thêm danh mục
</button>

<!-- <div *ngFor="let category of categories">
    <div class="d-flex mb-2 ms-2">
        <span class="me-2">{{ category.nameCate }}</span>
        <button (click)="category.idCate !== undefined ? getCateDetailById(category.idCate) : null"
            class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#updateCateModal">
            Sửa
        </button>
        <button (click)="category.idCate !== undefined ? delCateById(category.idCate) : null" class="btn btn-danger">
            Xoá
        </button>
    </div>
</div> -->

<!-- Table -->
<table class="table p-3">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Tên Danh Mục</th>
            <th scope="col">Url Danh Mục</th>
            <th scope="col">Sửa / Xoá</th>
        </tr>
    </thead>
    <tbody *ngFor="let category of categories">
        <tr>
            <th class="col-1" scope="row">{{ category.idCate }}</th>
            <td class="col-2">{{ category.nameCate }}</td>
            <td class="col-2">{{ category.urlCate }}</td>
            <td class="col-2">
                <div class="d-flex">
                    <button (click)="category.idCate !== undefined ? getCateDetailById(category.idCate) : null"
                        class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#updateCateModal">
                        Sửa
                    </button>
                    <button (click)="category.idCate !== undefined ? delCateById(category.idCate) : null"
                        class="btn btn-danger">
                        Xoá
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="addCateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <form #addCate="ngForm" (ngSubmit)="onSubmit()"> -->
                <form #createCate="ngForm">
                    <label class="form-label">Tên danh mục:</label>
                    <input class="form-control" [(ngModel)]="newCategory.nameCate" name="nameCate" required>
                    <label class="form-label">URL Category:</label>
                    <input class="form-control" [(ngModel)]="newCategory.urlCate" name="urlCate" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" form="createCate" (click)="addCate()" class="btn btn-primary"
                    data-bs-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateCateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa danh mục - #Id: {{cateDetail?.idCate}} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updateCate="ngForm">
                    <label for="name">Tên danh mục</label>
                    <input type="text" class="form-control" id="nameCate" name="nameCate" #udtnameCate required
                        value="{{cateDetail?.nameCate}}">
                    <label for="description">URL Category:</label>
                    <input type="text" class="form-control" id="urlCate" name="urlCate" #udturlCate required
                        value="{{cateDetail?.urlCate}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <!-- <button type="submit" (click)="addCate()" class="btn btn-primary">Thêm</button> -->
                <button type="submit" (click)="updatedCategory(cateDetail?.idCate, updateCate.value)" form="updateCate"
                    class="btn btn-primary" data-bs-dismiss="modal">
                    Sửa
                </button>
            </div>
        </div>
    </div>
</div>