.header-top {
    .btn-a {
        &:hover {
            background-color: #2e84e1;
            color: #fff;
        }
    }
}

.navbar {
    // background-color: #b8d9fd;
    .navbar-brand {
        img {
            width: 120px;
        }
    }
}

// @media screen and (max-width: 480px) {
//     .header-top {
//         display: none;
//     }
// }

