<div class="header-top">
    <div class="d-flex">
        <div class="btn-a p-2">
            <a class="nav-link mx-2" routerLink="/">Thông tin</a>
        </div>
        <div class="btn-a p-2">
            <a class="nav-link mx-2" routerLink="/">Liên hệ</a>
        </div>
        <div class="btn-a p-2">
            <a class="nav-link mx-2" routerLink="/">Trợ giúp</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Sản phẩm</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Loại sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let category of categories">
                            <li>
                                <a class="dropdown-item" routerLink='/categories'
                                    [queryParams]="{cateid: category.idCate}">
                                    {{category.nameCate}}
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Đăng xuất</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control shadow-none me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
</nav>