<div class="carousel-div d-flex flex-column flex-md-row justify-content-md-between col-12 p-5">
    <div class="col-12 col-md-8">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/banner/1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Air Jordan 1 Mid SE Craft</h5>
                        <p>Làm nổi bật phong cách với thiết kế thủ công này trên Air Jordan 1 Mid</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/banner/2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nike Air Force 1 '07 LV8</h5>
                        <p>Với tính thẩm mỹ lâu đời và màu sắc cổ điển, AF-1 được trang điểm theo phong cách cổ điển.
                            Chất liệu da giòn với hoa văn kẻ ô trên Swoosh và gót giày tạo thêm cảm giác lễ hội để tạo
                            kiểu dễ dàng.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/banner/3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nike Air Force 1 '07</h5>
                        <p>Sự rạng rỡ vẫn tồn tại trong Nike Air Force 1 '07, bản gốc bóng rổ tạo ra một bước ngoặt mới
                            cho những gì bạn biết rõ nhất:</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Trước</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Sau</span>
            </button>
        </div>
    </div>
    <div class="banner-right d-flex flex-md-column col-12 col-md-4 mt-2 mt-md-0 ms-md-2">
        <div class="position-relative">
            <img class="w-100" src="assets/images/banner/2.jpg" alt="">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="d-flex flex-column">
                    <span class="mb-2">Giày Thể Thao Nam MWC NATT - 5366</span>
                    <button class="btn">Mua Ngay</button>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <img class="w-100" src="assets/images/banner/3.jpg" alt="">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="d-flex flex-column">
                    <span class="mb-2">Giày Thể Thao Nam MWC NATT - 5344</span>
                    <button class="btn">Mua Ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aaa p-5">
    <div class="d-flex flex-column flex-md-row gap-2">
        <div class="oo col-12 col-md-3 p-2">
            <div class="d-flex">
                <div class="m-2">
                    <i style="font-size: 2rem; color: #fff" class="fa-solid fa-check"></i>
                </div>
                <div class="d-flex align-items-center">
                    <span style="font-size: 1.5rem; color: #fff;">Chất lượng cao</span>
                </div>
            </div>
        </div>
        <div class="oo col-12 col-md-3 p-2">
            <div class="d-flex">
                <div class="m-2">
                    <i style="font-size: 2rem; color: #fff" class="fa-sharp fa-solid fa-truck-fast"></i>
                </div>
                <div class="d-flex align-items-center">
                    <span style="font-size: 1.5rem; color: #fff;">Giao hàng nhanh</span>
                </div>
            </div>
        </div>
        <div class="oo col-12 col-md-3 p-2">
            <div class="d-flex">
                <div class="m-2">
                    <i style="font-size: 2rem; color: #fff" class="fa-solid fa-arrow-right-arrow-left"></i>
                </div>
                <div class="d-flex align-items-center">
                    <span style="font-size: 1.5rem; color: #fff;">14 Ngày đổi, trả</span>
                </div>
            </div>
        </div>
        <div class="oo col-12 col-md-3 p-2">
            <div class="d-flex">
                <div class="m-2">
                    <i style="font-size: 2rem; color: #fff" class="fa-solid fa-phone-volume"></i>
                </div>
                <div class="d-flex align-items-center">
                    <span style="font-size: 1.5rem; color: #fff;">Hỗ trợ 24/7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-list-cate></app-list-cate>
<div class="list-product p-5">
    <div class="title" style="border-bottom: 1px solid black;">
        <h3>
            Sản phẩm
        </h3>
    </div>
    <app-products></app-products>
</div>