.carousel-div {
    background-color: rgb(121, 226, 226);
}

.carousel-item, .banner-right {
    img {
        filter: brightness(65%);
    }
}
.banner-right {
    img {
        filter: brightness(65%);
    }
    button {
        color: #fff;
        background-color: rgb(70, 131, 235);
    }
    .position-absolute {
        text-align: center;
        color: rgb(255, 255, 255);
        height: 50%;
    }
}
.aaa {
    .oo {
        background-color: #43d643;
    }
}