<div class="list-cate p-5">
    <div class="title" style="border-bottom: 1px solid black;">
        <h3>
            Loại sản phẩm
        </h3>
    </div>
    <div class="row mt-2 g-3">
        <div class="col-3 col-md-3">
            <a class="d-flex align-items-center" routerLink="/categories" [queryParams]="{cateid: 2}"
                style="background-color: rgb(58, 130, 130);">
                <div class="ms-2 w-100" style="color: white; font-size: 2rem; text-align: center;">
                    Nike
                </div>
            </a>
        </div>
        <div class="col-3 col-md-3">
            <a class="d-flex align-items-center" routerLink="/categories" [queryParams]="{cateid: 3}"
                style="background-color: rgb(58, 130, 130);">
                <div class="ms-2 w-100" style="color: white; font-size: 2rem; text-align: center;">
                    Adidas
                </div>
            </a>
        </div>
        <div class="col-3 col-md-3">
            <a class="d-flex align-items-center" routerLink="/categories" [queryParams]="{cateid: 2}"
                style="background-color: rgb(58, 130, 130);">
                <div class="ms-2 w-100" style="color: white; font-size: 2rem; text-align: center;">
                    Nike
                </div>
            </a>
        </div>
    </div>
</div>