<div class="d-flex justify-content-center mt-4">
    <form class="col-3" action="">
        <div class="mb-3">
            <label class="form-label">Tài khoản</label>
            <input type="text" class="form-control shadow-none" name="userName" placeholder="Tài khoản" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="text" class="form-control shadow-none" name="password" placeholder="Mật khẩu" required>
        </div>
        <button class="btn btn-primary" type="submit">
            Đăng nhập
        </button>
    </form>
</div>

<!-- <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{errorMessage}}</div> -->