<div class="container">
    <div class="d-flex mt-4">
        <div class="col-12 col-md-6">
            <div class="imageProduct">
                <img width="50%" class="container-fluid" src="{{prodDetail?.image_url}}" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="nameProduct mb-1">
                <span style="font-size: 2rem;">| {{prodDetail?.nameProduct}}</span>
            </div>
            <div>
                <span style="font-size: 1.7rem;">Hãng: {{prodDetail?.category?.nameCate}}</span>
            </div>
            <div class="priceProduct mb-1">
                <span style="font-size: 1.7rem;">Giá: {{prodDetail!.priceProduct | currencySuffix }}</span>
            </div>
            <div class="description mb-1">
                <span style="font-size: 1.5rem;">Mô tả: <br> {{prodDetail!.description }}</span>
            </div>
            <div class="mt-4">
                <div class="mb-3">
                    <label for="basic-url" class="form-label">Số lượng:</label>
                    <div class="input-group w-50">
                        <input type="number" value="1" class="form-control">
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>